<!-- Footer -->

<footer>
  <div class="container">
    <div class="row  p-0">
      <div class="col-lg-4">
        <img class="img-fluid logo-footer" src="../assets/images/logo-footer.png" alt="logo footer" />
      </div>
      <div class="col-lg-8">
        <ul class="list-inline text-left">
          <li class="list-inline-item">
            <a href=""> Terms and conditions  </a>
          </li>
          <li class="list-inline-item">
            <a href=""> Privacy policy  </a>
          </li>
          <li class="list-inline-item">
            <a href=""> Support  </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/js/custom.js"></script>
<script>

</script>

