<!-- Footer -->

<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<footer>
  <div class="container">
    <div class="row  p-0">
      <div class="col-lg-4">
        <img class="img-fluid logo-footer" src="../assets/images/logo-footer.png" alt="logo footer" />
      </div>
      <div class="col-lg-8">
        <ul class="list-inline text-left">
          <li class="list-inline-item">
            <a href="/terms-and-conditions"> Terms and conditions  </a>
          </li>
          <li class="list-inline-item">
            <a href="/privacy-policy"> Privacy policy  </a>
          </li>
          <li class="list-inline-item">
            <a href="/support"> Support  </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="../assets/vendor/jquery/jquery.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../assets/js/feather.min.js"></script>
<script>
  feather.replace();
</script>


<script>
    $(window).scroll(function(){
      if ($(window).scrollTop() >= 300) {
        $('nav').addClass('fixed-header');
      }
      else {
        $('nav').removeClass('fixed-header');

      }
    });
    $(function() {
     /* $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');*/


      if ( window.location.pathname != '/' ){
        $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
        $('li:first-child a').removeClass('active');

        $('ul.list-inline a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
        $('li:first-child a').removeClass('active');
      }

    });
</script>

