<!DOCTYPE html>

<html>

{% include head.html %}

<body class="egirna-theme">

{% include navbar.html %}

<section class="banner-home d-flex text-center">
    <h1>Innovative Information Security Solutions & Services.</h1>
    <div  class="site-description">Egirna Technologies Limited is an information security solutions and services provider based in Egypt with global reach. The company focus is providing innovative and budget conscious information security solutions and services. Our team members expertise ranging from young enthusiasts to +20 years of experience in the field.</div>
</section>

{{ page.content }}

{% include footer.html %}

</body>

</html>